body {
  margin:50px;
}

h1 {
  color: black;
  font-family:'Trebuchet MS';
  font-size: 300%;
}
h2 {
  color: black;
  font-family:'Trebuchet MS';
  font-size: 150%;
}

h2_2 {
  color: black;
  font-size: 150%;
  padding-bottom:10px;
}

summary_style {
  color: black;
  font-size: 80%;
  float: right;
  outline:solid;
  outline-offset:10px; 

}

bold {
  font-weight: bold;
}

.hspell {
  color: black;
  font-size: 150%;
  text-align: left;
  margin-left: 15px;
  font-family:'Times';
  margin-bottom: 3px;

}
.typespell {
  color: black;
  font-size: 75%;
  font-style: italic;
  text-align: left;
  margin-left: 15px;
  font-family:'Times';
  margin-bottom: 3px;

}
.bspell {
  color: black;
  font-size: 100%;
  text-align: left;
  margin-left: 15px;
  font-family:'Times';
  margin-bottom: 3px;

}


body {
  color: black;
  font-family:'Helvetica';
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px line black;
  font-weight: bold;
  color: blue;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(255, 249, 201);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 16px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  border-width: 5px;
  border-style: solid;
  border-color: #555 #555 #555 #555;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip_spell {
  position: relative;
  display: inline-block;
  border-bottom: 1px line black;
  font-weight: bold;
  color: blue;
}

.tooltip_spell .tooltipspelltext {
  visibility: hidden;
  width: 400px;
  background-color: rgb(255, 249, 201);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  border-width: 3px;
  border-style: solid;
  border-color: #555 #555 #555 #555;
}

.tooltip_spell .tooltipspelltext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip_spell:hover .tooltipspelltext {
  visibility: visible;
  opacity: 1;
}

table {
  border: 2px solid forestgreen;
  width: 600px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

.raceImg {
  float: right;
  width: 33%;
  height: auto;
  display:"flex";
}
.raceImg2 {
  float: right;
  width: 50%;
  height: auto;
  display:"flex";
}

.logoImg {
  float: right;
  width: 10%;
  height: auto;
  display:"flex";
}

.buttonrace {
  background-color: #ffffff;
  text-align: center;
  width: 13%;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: black;
  padding: 10px;
  display: inline-block;

  transition-duration: 0.4s;
}

.buttonrace:hover {
  background-color: #236aec;
  color: white;
  border-color: rgb(0, 0, 0);

}

.buttonrace_clicked {
  background-color: #236aec;
  color: white;
  text-align: center;
  width: 13%;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  padding: 10px;
  display: inline-block;

  transition-duration: 0.4s;
}

.buttonclass {
  background-color: #ffffff;
  text-align: center;
  width: 13%;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: black;
  padding: 10px;
  display: inline-block;
  transition-duration: 0.4s;
}

.buttonclass:hover {
  background-color: #236aec;
  color: white;
  border-color: rgb(0, 0, 0);
}

.buttonclass_clicked {
  background-color: #236aec;
  color: white;
  text-align: center;
  width: 13%;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  padding: 10px;
  display: inline-block;
  transition-duration: 0.4s;
}





.buttonsubrace {
  background-color: #ffffff;
  text-align: center;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: black;
  padding: 8px;
  display: inline-block;
  transition-duration: 0.4s;
}

.buttonsubrace:hover {
  background-color: #236aec;
  color: white;
  border-color: rgb(0, 0, 0);

}

.buttonsubrace_clicked {
  background-color: #236aec;
  color: white;
  text-align: center;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);

  padding: 8px;
  display: inline-block;
  transition-duration: 0.4s;
}

.buttonnav {
  background-color: #ffffff;
  text-align: center;
  width: 13%;
  font-size: 16px;
  border-radius: 4px;
  border-color: black;
  padding: 10px;
  transition-duration: 0.4s;

}

.buttonnav:hover {
  background-color: #236aec;
  color: white;
  border-color: rgb(0, 0, 0);

}

.buttonnav_clicked {
  background-color: #236aec;
  color: white;
  text-align: center;
  width: 13%;

  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  padding: 10px;
  
  transition-duration: 0.4s;
}

.buttoncontainer {
  display: flex;
  align-items: end;
  flex-direction: column;
}


.buttonsubclass {
  background-color: #ffffff;
  text-align: center;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: black;
  padding: 8px;
  display: inline-block;
  transition-duration: 0.4s;
}

.buttonsubcclass:hover {
  background-color: #236aec;
  color: white;
  border-color: rgb(0, 0, 0);
}

.buttonsubclass_clicked {
  background-color: #236aec;
  color: white;
  text-align: center;
  margin-right:2px;
  margin-bottom: 2px;
  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  padding: 8px;
  display: inline-block;
  transition-duration: 0.4s;
}
